<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Treasurio</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.5</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.jonathanatger.treasurehuntapp</string>
          <string>com.jonathanatger.treasurehuntapp</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>9</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app will let the organisers of the races you are participating in know where you are.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app checks if you are advancing in your races.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs your location to check if you are advancing in your races.</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>Oswald-Medium.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>location</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>infoPlist</key>
    <dict>
      <key>UIBackgroundModes</key>
      <array>
        <string>location</string>
        <string>fetch</string>
        <string>remote-notification</string>
      </array>
      <key>NSLocationWhenInUseUsageDescription</key>
      <string>This app checks if you are advancing in your races.</string>
      <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
      <string>This app will let the organisers of the races you are in know where you are.</string>
      <key>NSLocationAlwaysUsageDescription</key>
      <string>This app will let the organisers of the races you are in know where you are.</string>
      <key>CFBundleURLTypes</key>
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>com.googleusercontent.apps..499556521140-u23ghdeve49lepfqhjthtast2gl2epha</string>
          </array>
        </dict>
      </array>
    </dict>
  </dict>
</plist>